.searchcontainer {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: #363636;
}

.searchresult {
    float: left;
    width: 30%;
}

.map {
    float: right;
    width: 70%;
}

.result
{
    height: 213px;
    background: #89bfba ;
    margin: 15px;
    padding: 25px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    vertical-align: central;

}

.result:hover
{
    background: rgba(255,255,255,0.2);
}

.searchimg{
    width:100px
}

.product-content{
    color: black;

}